In [13]:
import cx_Oracle

In [14]:
db = cx_Oracle.connect("foresight/fore123@oraasgtd12-scan.nam.nsroot.net:8888/SFRMPOC")

In [15]:
cursor = db.cursor()

In [ ]:
cursor.execute("select * from revs")

In [17]:
rows = cursor.fetchall()

In [18]:
print(rows)

[(10, 10, '400001', 'Revenues (L1)', '-ALLACT-999991-940000-941000-940011-940046-940053-940012-940031-400001', 'N', 20171010, 'A', datetime.datetime(2017, 8, 30, 0, 0), datetime.datetime(2017, 9, 30, 0, 0), 1, 'ALLACT', '999991', '940000', '941000', '940011', '940046', '940053', '940012', '940031', '400001', None, None, None, None, None, None, None, None, 'All Account', 'Financial', 'After Cost of Capital Earn (ACE) (L1)', 'After Cost of Capital Earn (ACE) (L2)', "Citigroup's Net Income (Loss) (L1)", 'Net Income/Loss Before Attribution of Noncontrolling Interest', 'Net Income/Loss from Continuing Operations', 'Income/Loss Before Taxes and Non-Controlling Interest (L2)', 'Operating Margin (L1)', 'Revenues (L1)', None, None, None, None, None, None, None, None), (4, 10, '400001', 'Revenues (L1)', '-ALLACT-999991-940031-400001', 'N', 20170711, 'A', datetime.datetime(2017, 6, 30, 0, 0), datetime.datetime(2017, 7, 30, 0, 0), 1, 'ALLACT', '999991', '940031', '400001', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'All Account', 'Financial', 'Operating Margin (L1)', 'Revenues (L1)', None, None, None, None, None, None, None, None, None, None, None, None, None, None)]